src/main/resources/book.wsdl


<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://services.bookservice.atatorus.fr/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="BookService" targetNamespace="http://services.bookservice.atatorus.fr/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.bookservice.atatorus.fr/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://services.bookservice.atatorus.fr/">
  <xs:element name="createBook" type="tns:createBook"/>
  <xs:element name="createBookResponse" type="tns:createBookResponse"/>
  <xs:element name="getAuthorsFromBook" type="tns:getAuthorsFromBook"/>
  <xs:element name="getAuthorsFromBookResponse" type="tns:getAuthorsFromBookResponse"/>
  <xs:element name="getBook" type="tns:getBook"/>
  <xs:element name="getBookResponse" type="tns:getBookResponse"/>
  <xs:element name="getBooksByTitle" type="tns:getBooksByTitle"/>
  <xs:element name="getBooksByTitleResponse" type="tns:getBooksByTitleResponse"/>
  <xs:complexType name="getBook">
    <xs:sequence>
      <xs:element minOccurs="0" name="bookId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getBookResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:book"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="book">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="authors" nillable="true" type="tns:author"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element name="note" type="xs:int"/>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
      <xs:element minOccurs="0" name="type" type="tns:bookType"/>
      <xs:element name="year" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="author">
    <xs:sequence>
      <xs:element minOccurs="0" name="dateOfBirth" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="dateOfDeath" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="nationality" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getBooksByTitle">
    <xs:sequence>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getBooksByTitleResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:book"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createBook">
    <xs:sequence>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
      <xs:element minOccurs="0" name="type" type="tns:bookType"/>
      <xs:element name="year" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="authorsId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createBookResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAuthorsFromBook">
    <xs:sequence>
      <xs:element minOccurs="0" name="bookTitle" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAuthorsFromBookResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:author"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="bookType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SCIENCE_FICTION"/>
      <xs:enumeration value="POLICIER"/>
      <xs:enumeration value="ROMAN_HISTORIQUE"/>
      <xs:enumeration value="HEROIC_FANTASY"/>
      <xs:enumeration value="ROMANCE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BookNotFoundException" type="tns:BookNotFoundException"/>
  <xs:complexType name="BookNotFoundException">
    <xs:sequence>
      <xs:element name="title" nillable="true" type="xs:string"/>
      <xs:element name="id" nillable="true" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getBook">
    <wsdl:part element="tns:getBook" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAuthorsFromBookResponse">
    <wsdl:part element="tns:getAuthorsFromBookResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBooksByTitle">
    <wsdl:part element="tns:getBooksByTitle" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBookResponse">
    <wsdl:part element="tns:getBookResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createBook">
    <wsdl:part element="tns:createBook" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBooksByTitleResponse">
    <wsdl:part element="tns:getBooksByTitleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BookNotFoundException">
    <wsdl:part element="tns:BookNotFoundException" name="BookNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAuthorsFromBook">
    <wsdl:part element="tns:getAuthorsFromBook" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createBookResponse">
    <wsdl:part element="tns:createBookResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Book">
    <wsdl:operation name="getBook">
      <wsdl:input message="tns:getBook" name="getBook">
    </wsdl:input>
      <wsdl:output message="tns:getBookResponse" name="getBookResponse">
    </wsdl:output>
      <wsdl:fault message="tns:BookNotFoundException" name="BookNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBooksByTitle">
      <wsdl:input message="tns:getBooksByTitle" name="getBooksByTitle">
    </wsdl:input>
      <wsdl:output message="tns:getBooksByTitleResponse" name="getBooksByTitleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBook">
      <wsdl:input message="tns:createBook" name="createBook">
    </wsdl:input>
      <wsdl:output message="tns:createBookResponse" name="createBookResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAuthorsFromBook">
      <wsdl:input message="tns:getAuthorsFromBook" name="getAuthorsFromBook">
    </wsdl:input>
      <wsdl:output message="tns:getAuthorsFromBookResponse" name="getAuthorsFromBookResponse">
    </wsdl:output>
      <wsdl:fault message="tns:BookNotFoundException" name="BookNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BookServiceSoapBinding" type="tns:Book">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getBook">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBook">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBookResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BookNotFoundException">
        <soap:fault name="BookNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBooksByTitle">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBooksByTitle">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBooksByTitleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBook">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createBook">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createBookResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAuthorsFromBook">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAuthorsFromBook">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAuthorsFromBookResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BookNotFoundException">
        <soap:fault name="BookNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookService">
    <wsdl:port binding="tns:BookServiceSoapBinding" name="BookPort">
      <soap:address location="http://localhost:8080/bookservice/services/book"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>